<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ne pas rediriger les requêtes pour les fichiers et dossiers existants
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rediriger toutes les autres requêtes vers index.html
  RewriteRule ^ index.html [L]
</IfModule>