body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body[data-reactive-json-is-submitting="true"] {
    &:not([data-reactive-json-is-submitting-silently="true"]) {
        & reactive-json,
        & .reactive-json {
            button,
            input,
            textarea {
                /* Visually disable reactive-json inputs when submitting. */
                opacity: 0.4;
                pointer-events: none;
            }
        }
    }

    &[data-reactive-json-is-submitting-silently="true"] {
        & reactive-json,
        & .reactive-json {
            button.force-disable-on-submit {
                /* Visually disable reactive-json inputs when submitting. */
                opacity: 0.4;
                pointer-events: none;
            }
        }
    }
}
